.root {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--space-400);
  block-size: 48px;
  color: var(--text-primary);
}

.time {
  font-family: var(--typography-body-m-bold-family);
  font-size: var(--typography-body-m-bold-size);
  font-weight: var(--typography-body-m-bold-weight);
  line-height: var(--typography-body-m-bold-line-height);
}

.indicators {
  display: flex;
  align-items: center;
  gap: var(--space-150);
}
